
body{
  background-image: url("background.jpg");
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

h1{
  color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

h2{
  color: white;
  font-family: sans-serif;
  padding: 10px;
  margin: 10px;
  line-height: 0.1;
  font-size: 30px;
}

p{
  color: white;
  font-family: sans-serif;
  padding: 10px;
  margin: 10px;
  line-height: 0.1;
  font-size: 25px;
}

.box{
padding: 20px;
margin: 20px;
height: 10px;
width 200px;
background-color: green;
justify-content: center;
align-items: center;
}

#boxnero{
  padding: 20px;
  margin: 20px;
  height: 1150px;
  width: 1000px;
  background-color: black;
  justify-content: center;
  align-items: center;
  opacity: 50%;
  border-radius: 20px;
}

#carica1{
  padding: 20px;
  margin: 20px;
  height: 10px;
  width: 200px;
  background-color: orange;
  border-radius: 20px;
}

#carica2{
  padding: 20px;
  margin: 20px;
  height: 10px;
  width: 500px;
  background-color: green;
  border-radius: 20px;
}

#carica3{
  padding: 20px;
  margin: 20px;
  height: 10px;
  width: 100px;
  background-color: red;
  border-radius: 20px;
}
